@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    /* color: white;
    text-shadow: 2px 1px black; */
}

.outer-body{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    color: white;
    text-shadow: 2px 1px black
}

.outer-body-night{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    color: white;
    text-shadow: 2px 1px black
}